## Data Manipulation and Analysis with Pandas
#### Data manipulation and analysis are key tasks in any data science or data analysis project. Pandas provides a wide range of function for data manipulation and anaysis, making it easier to clean, transform, and extract insights from data.

In [46]:
import pandas as pd

In [47]:
df=pd.read_csv("example.csv")
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [48]:
## the first five rows
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [49]:
## the last five rows
df.tail()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [50]:
df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.179144,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.683132,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,25.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [51]:
df.dtypes

Person ID                    int64
Gender                      object
Age                          int64
Occupation                  object
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
dtype: object

In [52]:
## Handling Missing value
df.isnull()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,False,False,False,False,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False,False,False,False,False

In [53]:
df.isnull().any()

Person ID                  False
Gender                     False
Age                        False
Occupation                 False
Sleep Duration             False
Quality of Sleep           False
Physical Activity Level    False
Stress Level               False
BMI Category               False
Blood Pressure             False
Heart Rate                 False
Daily Steps                False
Sleep Disorder              True
dtype: bool

In [54]:
df.isnull().any(axis=1)

0       True
1       True
2       True
3      False
4      False
       ...
369    False
370    False
371    False
372    False
373    False
Length: 374, dtype: bool

In [55]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [56]:
df_filled=df.fillna(0)

In [57]:
## filling missing values with the mean of the column 
df['Age_filled']=df["Age"].fillna(df["Age"].mean())

In [58]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_filled
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,25
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59

In [59]:
df.dtypes

Person ID                    int64
Gender                      object
Age                          int64
Occupation                  object
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
Age_filled                   int64
dtype: object

In [60]:
## Renaming columns
df=df.rename(columns={"Age":"Year"})
df.head()

,Person ID,Gender,Year,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_filled
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,25
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28

In [61]:
df

,Person ID,Gender,Year,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_filled
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,25
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,59

In [63]:
## Change datatypes
df["Year_new"]=df["Year"].astype(float)
df.head()

,Person ID,Gender,Year,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_filled,Year_new
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,25,25.0
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28,28.0
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28,28.0
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28,28.0
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28,28.0

In [64]:
df["Year_new"]=df["Year"].apply(lambda x:x*2)

In [66]:
df.head()

,Person ID,Gender,Year,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_filled,Year_new
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,25,50
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28,56
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28,56
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28,56
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28,56

In [67]:
## Data Aggregating And Grouping
df.head()

,Person ID,Gender,Year,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_filled,Year_new
0,1,Male,25,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,25,50
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28,56
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,28,56
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28,56
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,28,56

In [68]:
grouped_mean=df.groupby("Occupation")["Sleep Duration"].mean()

In [69]:
print(grouped_mean)

Occupation
Accountant              7.113514
Doctor                  6.970423
Engineer                7.987302
Lawyer                  7.410638
Manager                 6.900000
Nurse                   7.063014
Sales Representative    5.900000
Salesperson             6.403125
Scientist               6.000000
Software Engineer       6.750000
Teacher                 6.690000
Name: Sleep Duration, dtype: float64

In [73]:
grouped_sum=df.groupby(["Occupation","Gender"])["Year"].sum()
print(grouped_sum)

Occupation            Gender
Accountant            Female    1434
                      Male        32
Doctor                Female     112
                      Male      2208
Engineer              Female    1689
                      Male      1246
Lawyer                Female      77
                      Male      1776
Manager               Female      45
Nurse                 Female    3781
Sales Representative  Male        56
Salesperson           Male      1393
Scientist             Female     134
Software Engineer     Male       123
Teacher               Female    1498
                      Male       171
Name: Year, dtype: int64

In [74]:
grouped_mean=df.groupby(["Occupation","Gender"])["Year"].mean()
print(grouped_mean)

Occupation            Gender
Accountant            Female    39.833333
                      Male      32.000000
Doctor                Female    56.000000
                      Male      32.000000
Engineer              Female    52.781250
                      Male      40.193548
Lawyer                Female    38.500000
                      Male      39.466667
Manager               Female    45.000000
Nurse                 Female    51.794521
Sales Representative  Male      28.000000
Salesperson           Male      43.531250
Scientist             Female    33.500000
Software Engineer     Male      30.750000
Teacher               Female    42.800000
                      Male      34.200000
Name: Year, dtype: float64

In [75]:
## Aggregate multiple functions
grouped_agg=df.groupby("Gender")["Year"].agg(["mean","sum","count"])

In [77]:
grouped_agg

             mean   sum  count
Gender
Female  47.405405  8770    185
Male    37.063492  7005    189

In [ ]:
## Merging and joining dataframes
## Create sample dataframes
df1=pd.DataFrame({"key":["a","b","c"],"value1":[1,2,3]})
df2=pd.DataFrame({"key":["a","b","d"],"value2":[4,5,6]})

In [79]:
df1

  key  value1
0   a       1
1   b       2
2   c       3

In [80]:
df2

  key  value2
0   a       4
1   b       5
2   d       6

In [ ]:
## Merge dataframe on the 'key column'
pd.merge(df1,df2,on="key",how="inner")

  key  value1  value2
0   a       1       4
1   b       2       5

In [82]:
pd.merge(df1,df2,on="key",how="outer")

  key  value1  value2
0   a     1.0     4.0
1   b     2.0     5.0
2   c     3.0     NaN
3   d     NaN     6.0

In [84]:
pd.merge(df1,df2,on="key",how="left")

  key  value1  value2
0   a       1     4.0
1   b       2     5.0
2   c       3     NaN

In [85]:
pd.merge(df1,df2,on="key",how="right")

  key  value1  value2
0   a     1.0       4
1   b     2.0       5
2   d     NaN       6