In [1]:
## integer example
age=25
type(age)

int

In [ ]:
##floating point datatypes
height=5.10
print(height)
print(type(height))

5.1
<class 'float'>

In [4]:
##string datatypes example
name = "rahul"
print(name)
print(type(name))

rahul
<class 'str'>

In [8]:
##boolean datatypes 
is_true =True
type(is_true)

bool

In [11]:
a=10
b=10

print(a==b)
type(a==b)

True

bool

In [12]:
##common error
result ="hello"+5

TypeError: can only concatenate str (not "int") to str

In [14]:
result ="hello"+str(5) #"5"
print(result)

hello5