## Reading data from different sources

In [29]:
import pandas as pd
from io import StringIO
Data='{"employee_name": "james", "email": "james@gmail.com", "job_profile": [{title1}: "team lead", "title2": "Sr. devloper"]}'
df=pd.read_csv(StringIO(Data))
print(df)

Empty DataFrame
Columns: [{"employee_name": "james",  "email": "james@gmail.com",  "job_profile": [{title1}: "team lead",  "title2": "Sr. devloper"]}]
Index: []

In [30]:
import pandas as pd
from io import StringIO

data = '''
{
  "employee_name": "james",
  "email": "james@gmail.com",
  "job_profile": [
    {"title1": "team lead", "title2": "Sr. developer"}
  ]
}
'''

pd.read_json(StringIO(data))

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'team lead', 'title2': 'Sr. develop..."

In [31]:
df=pd.read_json(StringIO(data))
print(df)

  employee_name            email  \
0         james  james@gmail.com

                                         job_profile
0  {'title1': 'team lead', 'title2': 'Sr. develop...

In [32]:
df.to_json

<bound method NDFrame.to_json of   employee_name            email  \
0         james  james@gmail.com

                                         job_profile
0  {'title1': 'team lead', 'title2': 'Sr. develop...  >

In [33]:
df.to_json(orient="index")

'{"0":{"employee_name":"james","email":"james@gmail.com","job_profile":{"title1":"team lead","title2":"Sr. developer"}}}'

In [34]:
df.to_json(orient="records")

'[{"employee_name":"james","email":"james@gmail.com","job_profile":{"title1":"team lead","title2":"Sr. developer"}}]'

In [35]:
import pandas as pd

data = [
    [1, 10, 100],
    [2, 20, 200],
    [3, 30, 300],
    [4, 40, 400]
]

# create dataframe
df = pd.DataFrame(data, columns=["A", "B", "C"])

# write to csv
df.to_csv("numbers.csv", index=False)

# read from csv
daf = pd.read_csv("numbers.csv")
print(daf)

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [36]:
daf.head()

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [37]:
df = pd.read_csv("numbers.csv")
print(df)

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [38]:
import pandas as pd

# read csv
df = pd.read_csv("numbers.csv")

# save as excel
df.to_excel("numbers.xlsx", index=False)

# read excel
df_excel = pd.read_excel("numbers.xlsx")
print(df_excel)

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [39]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\priya\onedrive\desktop\python\venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\priya\onedrive\desktop\python\venv\lib\site-packages (from openpyxl) (2.0.0)

In [40]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\priya\onedrive\desktop\python\venv\lib\site-packages (3.2.9)

In [41]:
df_excel.to_pickle("df_excel")

In [42]:
pd.read_pickle("df_excel")

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400