In [16]:
## create a set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [17]:
my_empty_set =set([1,2,3,4,4,4,5,6,6,6])
print((my_empty_set))

{1, 2, 3, 4, 5, 6}

In [18]:
## basics ses operation
## adding and removing elements 
my_set.add(6)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [19]:
## remove the elements from a set 
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [20]:
my_set.remove(10)

KeyError: 10

In [ ]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
## pop method 
my_set = {1,2,3,4,5}
remove_element =my_set.pop()
print(remove_element)
print(my_set)

1
{2, 3, 4, 5}

In [ ]:
## clear all the elements
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
## set membership test 
my_set = {1,2,3,4,5}
print( 3 in my_set)
print( 10 in my_set)

True
False

In [ ]:
## mathematical operation 
set1={1,2,3,4,5}
set2={4,5,6,7,8}

## union
union_set =set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
## intersection 
intersection_set=set1.intersection(set2)
print(intersection_set)

{4, 5}

In [ ]:
set1.intersection_update(set2)
print(set1)

{4, 5}

In [ ]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}

## difference
print(set1.difference(set2))

{1, 2, 3}

In [ ]:
set1

{1, 2, 3, 4, 5}

In [ ]:
set2.difference(set1)

{6, 7, 8}

In [ ]:
## symmetric difference
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8}

In [ ]:
set2.symmetric_difference(set1)

{1, 2, 3, 6, 7, 8}

In [ ]:
##set methods
set1 ={1,2,3,4,5}
set2 ={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [25]:
lst =[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [26]:
## counting unique words in text

text ="in this tutorial we are discussing about sets"
words = text.split()

## convert list of words to set unique words 
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'this', 'are', 'tutorial', 'about', 'discussing', 'sets', 'we', 'in'}
8