### Introduction to tuples 
### Explanation:
### Tuples are ordered collection of item that are immutable. they are similar to lists, but their immutability makes them different.

In [76]:
## creating a tuple 
empty_tuple =()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [77]:
lst =list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [78]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [79]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [80]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [81]:
## acessimg tuple elements
numbers

(1, 2, 3, 4, 5, 6)

In [82]:
print(numbers[2])
print(numbers[-1])

3
6

In [83]:
numbers[0:4]

(1, 2, 3, 4)

In [84]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [85]:
## tuple operation 
concatenation = numbers + mixed_tuple
print(concatenation)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3.14, True)

In [86]:
mixed_tuple * 3

(1, 'hello', 3.14, True, 1, 'hello', 3.14, True, 1, 'hello', 3.14, True)

In [87]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [88]:
## immutable nature of tuples
## tuple are immutable, meaning their elements cannot be changed.

lst =[1,2,3,4,5]
print(lst)

lst[1]="krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'krish', 3, 4, 5]

In [89]:
numbers = ([1,2,3,4,5,6]) 
numbers[1] ="krish"

In [90]:
numbers = tuple([1,2,3,4,5,6])
numbers[1]="krish"

TypeError: 'tuple' object does not support item assignment

In [ ]:
## tuple methods
numbers = tuple([1,2,3,4,5,6])
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## packing and unpacking tuple
##packing
packed_tuple =1,"hello",3.
print(packed_tuple)

(1, 'hello', 3.0)

In [ ]:
## unpacking a tuple
a,b,c =packed_tuple

print(a)
print(b)
print(c)

1
hello
3.0

In [ ]:
## unpacking with * 
numbers = (1,2,3,4,5,6)
first,*middle,last =numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## nested tuple
## nested list
lst = [[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
print(lst[0])
print(lst[0][2])

[1, 2, 3, 4]
3

In [ ]:
print(lst[0][0:3])

[1, 2, 3]

In [ ]:
lst = [[1,2,3,4],[6,7,8,9],(1,"hello",3.14,"c")]
print(lst[2][0:3])

(1, 'hello', 3.14)

In [ ]:
## access the element inside a tuple 
nested_tuple =((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end =" ")
    print()

1 2 3
a b c
True False

conclusion

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of item is required. they are commonly used in data structure ,function arguments and return values, and as dictionary keys. understanding how to leverage tuples effectively can improve the efficiency and readability of your python code.