### Introduction to tuples 
### Explanation:
### Tuples are ordered collection of item that are immutable. they are similar to lists, but their immutability makes them different.

In [2]:
## creating a tuple 
empty_tuple =()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst =list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [6]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [7]:
## acessimg tuple elements
numbers

(1, 2, 3, 4, 5, 6)

In [12]:
print(numbers[2])
print(numbers[-1])

3
6

In [13]:
numbers[0:4]

(1, 2, 3, 4)

In [14]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [15]:
## tuple operation 
concatenation = numbers + mixed_tuple
print(concatenation)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3.14, True)

In [16]:
mixed_tuple * 3

(1, 'hello', 3.14, True, 1, 'hello', 3.14, True, 1, 'hello', 3.14, True)

In [17]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)