# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [15]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [16]:
tpl = tuple(range(1,11))
print(tpl[0])
print(tpl[len(tpl) // 2])
print(tpl[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [17]:
tpl = tuple(range(1,11))
print(tpl[0:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [18]:
mat =(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(mat)
print(mat[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [19]:
tpl1 =(1,2,3,4,5)
tpl2 =(6,7,8,9,10)

concatenate = tpl1 + tpl2 
print(concatenate)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [20]:
tpl = (1,2,2,3,4,4,4,5)
print(tpl.count(4))

3

In [21]:
print(tpl.index(2))

1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [22]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [23]:
list =[1,2,3,4,5]
tpl = tuple(list)
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [24]:
tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [44]:
tpl = (1,2,3,4,5)
lst =list(tpl)
lst.append(6)
tcl =tuple(lst)
print(tcl)

TypeError: 'list' object is not callable

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [48]:
str_1 ="hello"
tpl =tuple(str_1)
joining_str =''.join(tpl)
print(joining_str)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [49]:
tpl_dict ={
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [50]:
nested_tpl =(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for i in nested_tpl:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [51]:
tpl =(1,2,3,3,4,4,5,5)
unique_set =set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.