## Reading data from different sources

In [12]:
import pandas as pd
from io import StringIO
Data='''
{
  "employee_name": "james",
  "email": "james@gmail.com",
  "job_profile": [
    {"title1": "team lead", "title2": "Sr. developer"}
  ]
}'''
pd.read_json(StringIO(Data))

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'team lead', 'title2': 'Sr. develop..."

In [14]:
df=pd.read_json(StringIO(Data))
print(df)

  employee_name            email  \
0         james  james@gmail.com

                                         job_profile
0  {'title1': 'team lead', 'title2': 'Sr. develop...

In [15]:
df.to_json

<bound method NDFrame.to_json of   employee_name            email  \
0         james  james@gmail.com

                                         job_profile
0  {'title1': 'team lead', 'title2': 'Sr. develop...  >

In [ ]:
df.to_json(orient="index")

'{"0":{"employee_name":"james","email":"james@gmail.com","job_profile":{"title1":"team lead","title2":"Sr. developer"}}}'

In [17]:
df.to_json(orient="records")

'[{"employee_name":"james","email":"james@gmail.com","job_profile":{"title1":"team lead","title2":"Sr. developer"}}]'

In [18]:
import pandas as pd

data = [
    [1, 10, 100],
    [2, 20, 200],
    [3, 30, 300],
    [4, 40, 400]
]

# create dataframe
df = pd.DataFrame(data, columns=["A", "B", "C"])

# write to csv
df.to_csv("numbers.csv", index=False)

# read from csv
daf = pd.read_csv("numbers.csv")
print(daf)

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [ ]:
daf.head()

In [ ]:
df = pd.read_csv("numbers.csv")
print(df)

In [ ]:
import pandas as pd

# read csv
df = pd.read_csv("numbers.csv")

# save as excel
df.to_excel("numbers.xlsx", index=False)

# read excel
df_excel = pd.read_excel("numbers.xlsx")
print(df_excel)

In [ ]:
!pip install openpyxl

In [ ]:
!pip install xlsxwriter

In [ ]:
df_excel.to_pickle("df_excel")

In [ ]:
pd.read_pickle("df_excel")